/*
** Layout, Text & Colors
*/
@font-face {
    font-family: Ailerons;
    src: url("Ailerons-Typeface.otf") format("opentype");
}
/* .centralize{
  margin: 0 auto;
  width: auto;
} */
@font-face {
    font-family: Blanka;
    src: url("Raxtor-Regular.otf") format("opentype");
}

body {
  font-family: Ailerons;
  font-size: 18px;
}

.section { 
  height: 100vh;
  background-image: url('https://i.gifer.com/VJC.gif');
  background-position: center;
  background-size: cover;
}
.sub-section{
  height: 100vh;
}


